footer{
    display: flex;
    background-color: lightblue;
    color: beige;
    text-align: center;
    margin-top: 50px;
    height: 100px;
    
    h1{
        margin: auto;
        text-align: center;
    }
}